* {
    margin: 0;
    padding: 0;
 
}
body {
    font-family: "Noto Serif";
    background-color: #F5F8FF;
}
a {
    text-decoration: none;
}

.orange-color {
    color: #E95A08;
}
.gray-color {
    color: #8987A1;
}

/*navbar*/
.nav-bar {
    margin: 30px 150px;
    padding: 5px;
    display: flex;
    justify-content: space-between;

}
.nav-links ul {
    display: flex;
    padding: 48px;
    gap: 48px;
    font-family: 'Inter';
    list-style: none;
}
.cart-icon {
    display: flex;
    margin: 0;
    padding: 0;
}
.cart-icon span{
    align-items: center;
    text-align: center;
    position: absolute;
    margin:0 5px;
}
/*banner*/
.banner {
    margin: 120px 150px 0;
    padding-top: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-caption h2 {
    font-size: 4rem;
    font-weight: bold;
}
.banner-caption h5 {
    font-size: 1.375rem ;
    font-family: "Inter";
    font-weight: 400;
}
.ban-span {
    display: block;
}
.ban-span-txt {
    display: block;
}
/*plants section*/
.plants-section {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.plants-section-caption h3 {
    margin-top: 100px;
    font-size: 4rem;
    
}
.plants-section-caption h5 {
    margin-top: 16px;
    margin-bottom: 49px ;
    font-size: 1.375rem;

    font-family: "Inter";
    font-weight: 400;
}
.plant-txt {
    display: block;
}
.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 150px;
    padding: 0 150px ; 
    gap: 20px;
    
}
.flower-card h5{
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 20px;
}
.flower-card h6 {
    font-family: "Inter";
    font-size: 1.375rem;
}
.buy-button {
    background-color: #E95A08;
    padding: 19px 80px;
    margin: 30px 0;
    color: white;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 700;
}
/*plants lover section*/
.plants-lover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 150px;
    gap: 62px ;
}
.logo-trusted-seller img{
    width: 13%;
    position: absolute;
    transform: translate(149% , -50% );
    filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
    
}
.plants-lover h3 {
    font-weight: bold;
    font-size: 4rem;
    
}
.plants-lover span {
    display: block;
}
.plants-lover li {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.375rem;
}
.plants-lover-text {
    padding: 50px;
}
/*deal section*/

.deal-section-caption {
   text-align: center;
   margin: 134px 150px 120px;
}
.deal-section-caption h3 {
    font-weight: bold;
    font-size: 50px;
}
.deal-section-caption h5 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.375rem;
    margin-top: 16px;

    
}
.deal-txt {
    display: grid;
}
.deal-img-left1 {
    background-image: url(assets/deal-bloom.png);
    width: 30%;
    
    padding: 65px 0 65px 21px;
    margin: 100px 0 20px 200px;
    border-radius: 15px;
    overflow: hidden;
    filter: brightness(0.8);
    transform: translate(70%, 1%);
}
.deal-img-left1 h5{
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}
.deal-img-left1 a {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 600;
}
.deal-img-left2 {
    background-image: url(assets/deal-ana.png);
    width: 30%;
    padding: 65px 0 65px 21px;
    margin:0 0 0 200px;
    border-radius: 15px;
    overflow: hidden;
    filter: brightness(0.8);
    transform: translate(70%, 9%);
}
.deal-img-left2 h5{
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}
.deal-img-left2 a {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 600;
}
.deal-img-right {
    background-image: url(assets/deal-zabo.png);
    width: 45%;
    padding: 150px;
    margin: 100px 0;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 15px;
    transform: translate(-25%);
}

.deal-img-right h5 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
}
.deal-img-right a {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Inter";
    font-weight: 600;
    font-size: 1.75rem;
    
}
.deal-img {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    
}
/*join section*/
.join-sec {
    background-image: url(assets/news-letter-bg.png);
    background-position: center;
    margin: 0;
    padding: 300px;
    background-repeat: no-repeat;
    
}
.join-txt {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    color: white;
}

input {
    height: 40px;
    width: 850px;
    margin-top: 10px;
    margin-left: 160px;
    padding: 10px;
    font-size: 1rem;
    color:#8987A1;
}
#sub-btn {
    background-color: #E95A08;
    height: 66px;
    width: 200px;
    transform: translate(-2%, 1%);
    cursor: pointer;
    font-family: "Inter";
    font-size: 1rem;
    color: white;
}
footer {
    display: flex;
    
    justify-content: space-around;
    padding: 100px;
    gap: auto;
}
.foot-txt {
    font-family: "Inter";
    font-size: 1.375rem;
    font-weight: 400;
}
.foot-list {
    display: flex;
    justify-content: space-between;
    
}

.footer-link1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 300px ;
}
.footer-link2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.foot-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    
}
/*responsive part for iphone 14 pro max*/
@media screen and  (max-width: 576px) {
    *{ 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
        
        
    }
    /*navbar*/
     .home, .shop, .about  {
        display: none;
     }
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        padding: auto;
        width: 100%;
    }
    .cart-icon {
        transform: translate(-200%, 50%);
    }
    /*banner*/
    .banner-image img{
        width: 445px;
        justify-content: center;
        margin-right: 100px;
        
    }
   .banner {
    display: flex;
    flex-direction: column-reverse;
   }
    .banner-caption h2 {
        font-size: 1.5rem;
        margin-right: 160px;
        padding-right: 130px;
        
    }
    .ban-span-txt {
        display: block;
        text-align: center;
        margin-right: 10px;
    }
    .ban-span {
        display: grid;

    }
    .ban-span-txt {
        text-align: left;
        font-size: 0.9rem;
        margin-right: 10px;
    }
    .banner-caption h5 {
        font-size: 1rem;
    }
    /*plants section*/
    .plants-section-caption h3{
        font-size: 1.5rem;
    }
    .plants-section h5 {
        font-size: 1rem;
        text-align: center;
    }
    
    .plant-txt{
        text-align: center;
        font-size: 0.9rem;
        margin:0 50px 0;
    }
    .card {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
    .flower-card img {
        width: 150px;
    }
    .flower-card h5{
        font-size: 1rem;
    }
    .flower-card h6{
        font-size: 1rem;

    }
    .flower-card button {
        padding: 10px;
        font-size: 1rem;
    }
    /*plants lover sec*/
    .logo-trusted-seller {
        display: none;
    }
    .plants-lover {
        flex-direction: column;
    }
    .plant-guy img {
        width: 350px;
        margin-right: 36px;
    }
    .plants-lover h3{
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        gap: 10px;
    }
   
    
    
   .flower-text {
    font-size: 1.5rem;
    
    transform: translate(20%);

    
   }
   .flower-text2 {
    font-size: 1.5rem;
    transform: translate(50%);
   }
   .plants-lover-text li{

    text-align: left;
    margin: 0 10px 10px 0;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    
   }
   .plants-lover-text span {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
   }
/*latest deal section*/
    
    .deal-section-caption h3{
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

   }
   
   .deal-txt {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
   
    
    padding: 10px;

}

.deal-img {
    display: flex;
    flex-direction: column;
    width: 1000px;
   
}
.deal-img-left1{
    transform: translate(-40%);
}
.deal-img-left2 {
    transform: translate(-40%);
}
.deal-img-right{
    width: 340px;
    transform: translate(15%);
    padding: 90px 0;
    margin: 15px;
}
.deal-img-right h5 {
   text-align: center;
    font-size: 1.5rem;
}
.deal-img-span{
    text-align: center;
    font-size: 1rem;
    
}
/*join section*/
    .join-sec {
        width: 100px;
        padding: 200px;
        transform: translate(5%);
    }
    .join-txt  {
        display: flex;
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
    }
    input {
        height: 20px;
        width: 200px;
        transform: translate(-130%);
    }
    #sub-btn {
        height: 26px;
        width: 100px;
        font-size: 1rem;
        transform: translate(91%,-96%);

    }
    /*footer*/
    footer {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

    }
    .foot-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .foot-icon {
        justify-content: left;
    }